.search-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.search-form input {
  flex: 1;
  padding: 0.6rem 0.8rem;
  font-size: 16px;
  border: 2px solid #47ecec;
  background-color: #111; 
  border-radius: 8px;
   transition: all 0.3s ease;
}
.search-form input:focus {
  outline: none;
  border-color: #00ffff; 
  box-shadow: 0 0 8px rgba(71, 236, 236, 0.5); /* Glow effect */
}
.search-form button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #47ecec; 
  color: #000; 
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-form button:hover {
  background: #0059c1;
   transform: translateY(-1px);
}
.topbar{
  padding: 20px 15px;
  width: 100%;
  background-color: black;
}
@media (min-width: 768px) {
  .topbar {
    padding: 30px 20px;
  }
  
  .search-form {
    gap: 15px;
  }
  
  .search-form input {
    padding: 14px 20px;
    font-size: 18px;
  }
  
  .search-form button {
    padding: 14px 25px;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .topbar {
    padding: 40px;
  }
  
  .search-form {
    max-width: 900px;
  }
}
@media (max-width: 480px) {
  .search-form {
    flex-direction: column;
    gap: 10px;
  }
  
  .search-form button {
    width: 100%;
    padding: 12px;
  }
  
  .search-form input {
    width: 100%;
    padding: 12px 15px;
  }
}